* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
    transition: all 0.10s ease-in-out;
}

html {
    height: 100vh;
    width: 100vw;
    display: flex;
}

button {
    margin: 0.3vw;
    width: 40vh;
    height: auto;
    background: #f9f9f9;
    border: 0.33vw solid white;
    font-size: 1.3vh;
}

app {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 85vh;
}

header {
    width: 100vw;
    height: 6vh;
    background-color: rgb(52, 52, 63);
    display: flex;
    flex-direction: row;
    align-items: center;
    color: aliceblue;
}

.badModifer {
    background-color: rgba(255, 0, 0, 0.405);
}

resdisplay {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #16e00b;
    margin: 0.5vh;
    border-radius: 0.3vh;
    width: auto;
    height: auto;
    padding-left: 0.3vw;
    padding-right: 0.3vw;
    padding-top: 0.3vh;
    padding-bottom: 0.3vh;
}

footer {
    width: 60vw;
    height: 4vh;
    display: flex;
    vertical-align: middle;
    background-color: #58c7f2;
    margin: 0 20vw 1vh 20vw;
    align-items: center;
    justify-content: center;
}

.layer {
    width: 98vw;
    height: 20vh;
    background-color: gainsboro;
    margin: 1vh;
}

list {
    display: flex;
    flex-direction: row;
    margin: 1vh;
}

fabrik {
    width: 14vh;
    height: 14vh;
    border: darkblue 1px solid;
    font-size: 2vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1vh;
    background-color: rgb(234, 234, 234);
}

fabrik:hover {
    scale: 1.1;
    cursor: pointer;
}

button:hover {
    background-color: rgb(255, 255, 255);
    border-color: #f9f9f9;
    cursor: pointer;
}

overlay {
    Background: rgb(255, 255, 255);
    border: double black 4px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5vh 5vw 5vh 5vw;
    display: none;
    flex-direction: column;
}
