html{
    height: 100vh;
    width: 100vw;
}
button{
    margin: 0.3vw;
    width: 40vh;
    height: auto;
}
header{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 10vh;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100vw;
    background-color: aqua;
}